doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        title Barcode DB for plants identification
        link(rel='stylesheet' href='/stylesheets/Common_header.css')

    body
        header
        .header-inner
            .Logo Barcode DB
            .header-item
                nav.nav1
                    ul
                    li
                        a(href='/')   Top   
                    li
                        a(href='/download') DownLoad
                    li
                        a(href='/taxonomy') Taxonomy
                    li
                        a(href='/help')   Help  
        .hpad
        .N_wrapper
        .NN_wrapper
            .N_header
            | No query hit.
            br                
                .N_content
                    span.N_title
                    | Possible Causes:
                    br
                    ul
                    li Nucleotide sequences only.
                    li Your query may not be long enough to identify.
                    li Your query may not include sequences that encodes rbcL gene.
                    li The region encoding rbcL gene may not be long enough to identify.

    block css
        style(type='text/css').
            <!--
            html {
            width: 100%;
            height: 100%;
            }
            .N_wrapper {
            max-width: 1280px;
            margin: 120px auto;
            }
            .NN_wrapper {
            margin: 0 30px;
            background-color: #f2f1f152;
            border: 1.3px solid #eee;
            border-radius: 13px;
            padding: 13px;
            color: white;
            }
            .N_content ul {
            display: block;
            margin: 15px 25px;
            }
            .N_content li {
            padding: 5px;
            }
            .N_header {
            font-weight: bold;
            font-size: 29px;
            text-align: center;
            border-bottom: 3px solid #fffefc;
            padding: 5px;
            }
            .N_content {
            padding: 10px;
            padding: left:30px;
            margin: auto;
            }
            .N_title {
            font-weight: bold;
            font-size: 18px;
            }
            -->
